<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Death Note</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
  <h1>Death Note</h1>
  <h2>If you watch the movie you must add a name......</h2>


  <h3>Notes</h3>
  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message">
      <span><%= messages[i].name %></span>
      <span><%= messages[i].note %></span>
      <span><i class="ph ph-knife"></i></span>
      <span><i class="ph ph-skull"></i></span>
    </li>
  <% } %>
  </ul>

  <h2>Add a message</h2>

  <form action="/messages" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="note" name="note">
    <button type="submit">No Going Back</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
